# BBB
# (Githubhoz kell, hogy ne legyenek a szenzitív adatok és más dolgok commitelve)

# Ne legyenek commitelve a szenzitív adatok
.server-config.json      
.vscode
node_modules/

# Ne legyenek commitelve a feltöltött fájlok
uploads/
!uploads/.gitkeep    

# Ne legyen semmilyen log fájl commitelve
logs/
!logs/.gitkeep
!logs/info/.gitkeep
!logs/error/.gitkeep
!logs/normal/.gitkeep

# Ne legyen semmilyen biztonsági mentés commitelve
backups/
!backups/.gitkeep

/utils/base.sql
/utils/diy.sql
/utils/backups.sql